body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.sidebar {
  width: 250px;
  min-width: 250px;
}
main {
  background-color: #f8f9fa;
  overflow-y: auto;
}

h2, h3 {
  color: #0d6efd;
}

.active {
  background-color: darkslategray !important;
}

.modal-body {
  overflow-y: auto !important;
  max-height: 90vh !important;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-emoji {
  display: inline-block;
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

.badge {
  color: black !important
}

.gridGrupos {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.marginBody {
  margin: 2rem;
}

.banner {
  position: fixed;
  top: 56px;
  z-index: 99999;
  right: 0px;
  width: 30%;
}

.group-header-color {
  background-color: antiquewhite;
}

.resaltado {
  animation: flash 0.5s ease-in-out;
  font-weight: bold;
  font-style: italic;
}

.modal-content.custom-shadow {
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  border-radius: 8px;
}

.modal-header.main {
  background-color: bisque;
}

.modal-header.second {
  background-color:cadetblue;
}

@keyframes flash {
  0%   { background-color: #fff3cd; }
  100% { background-color: #ffeeba; }
}


@media (max-width: 1200px) {
  .gridGrupos {
    grid-template-columns: repeat(2, 1fr);
  }
  .marginBody {
    margin: 1rem;
  }
}

@media (max-width: 600px) {
  .gridGrupos {
    grid-template-columns: 1fr;
  }
  .banner {
    width: 100%;
  }
}

